Repository joseederangojr/timesheet: changes, and which lint-staged commands are due for each by the changed paths.
All: vendor/bin/pint --parallel, prettier --write, eslint --fix

feat: add admin user management with sidebar and theme support
  app/Http/Controllers/Admin/UsersController.php
  resources/js/hooks/use-sidebar.ts
  resources/js/hooks/use-theme.tsx
  resources/js/lib/cookies.ts
  resources/js/pages/admin/Users/Index.tsx
  tests/Feature/Admin/UsersControllerTest.php
  tests/Unit/Queries/GetUsersQueryTest.php
Due: vendor/bin/pint --parallel, prettier --write, eslint --fix

chore: update build tooling and linting configuration
  .ai/guidelines/shadcn.ui.blade.php
  .husky/pre-commit
  .prettierignore
  app/Http/Controllers/Admin/UsersController.php
  eslint.config.js
  package-lock.json
  package.json
  resources/js/pages/Dashboard.tsx
  resources/js/pages/admin/Dashboard.tsx
  resources/js/pages/admin/Users/Index.tsx
  resources/js/pages/auth/Login.tsx
  routes/web.php
  tests/Feature/Admin/UsersControllerTest.php
  tests/Feature/AdminDashboardTest.php
  tests/Feature/DashboardTest.php
  tsconfig.json
Due: vendor/bin/pint --parallel, prettier --write, eslint --fix

test: add browser test for admin sidebar functionality
  .gitignore
  .mcp.json
  opencode.json
  resources/js/components/features/user-management.tsx
  resources/js/components/forms/login-form.tsx
  resources/js/components/layouts/admin-layout.tsx
  resources/js/components/layouts/app-layout.tsx
  resources/js/components/ui/alert.tsx
  resources/js/components/ui/dashboard-cards.tsx
  resources/js/contexts/auth-context.tsx
  resources/js/contexts/sidebar-context.tsx
  tests/Browser/AdminSidebarTest.php
Due: vendor/bin/pint --parallel, prettier --write, eslint --fix

ci: update github workflows
  .github/workflows/release.yml
  .github/workflows/tests.yml
Due: none

ci: fix tests env
  .github/workflows/release.yml
  .github/workflows/tests.yml
  .husky/pre-commit
  composer.lock
Due: none

ci: fix cp .env.testing
  .github/workflows/tests.yml
Due: none

refactor: organize test files into subdirectories
  tests/Browser/Admin/AdminSidebarTest.php
  tests/Browser/Authentication/LoginTest.php
  tests/Feature/AdminDashboardTest.php
  tests/Feature/Authentication/LogoutTest.php
  tests/Feature/Authentication/MagicLinkTest.php
  tests/Feature/Authentication/PasswordLoginTest.php
  tests/Feature/Console/VersionCommandTest.php
  tests/Feature/Dashboard/DashboardTest.php
  tests/Feature/DashboardTest.php
  tests/Feature/HomeTest.php
  tests/Unit/Http/Controllers/Auth/MagicLinkControllerTest.php
  tests/Unit/Queries/CheckUserHasRoleQueryTest.php
  tests/Unit/Queries/CheckUserIsAdminQueryTest.php
  tests/Unit/Queries/CheckUserIsEmployeeQueryTest.php
  tests/Unit/Queries/FindRoleByNameQueryTest.php
  tests/Unit/Requests/Auth/MagicLinkRequestTest.php
  tests/Unit/Requests/Auth/PasswordLoginRequestTest.php
Due: vendor/bin/pint --parallel, prettier --write

chore: update git configuration
  .gitignore
  .husky/pre-commit
Due: none

refactor: use dependency injection in AppServiceProvider
  app/Providers/AppServiceProvider.php
Due: vendor/bin/pint --parallel, prettier --write

test: refactor unit tests for better coverage
  tests/Unit/Models/RoleTest.php
  tests/Unit/Models/UserTest.php
  tests/Unit/Providers/AppServiceProviderTest.php
Due: vendor/bin/pint --parallel, prettier --write

feat: add user sorting functionality to admin users page
  app/DTOs/UserFilters.php
  app/Http/Controllers/Admin/UsersController.php
  app/Queries/GetUsersQuery.php
  resources/js/components/features/user-management.tsx
  resources/js/pages/admin/Users/Index.tsx
  tests/Feature/Admin/UsersControllerTest.php
  tests/Unit/Queries/GetUsersQueryTest.php
Due: vendor/bin/pint --parallel, prettier --write, eslint --fix

feat: add data table components and enhance user interface
  REQUIREMENTS.md
  app/DTOs/UserFilters.php
  app/Http/Controllers/Admin/UsersController.php
  app/Queries/GetUsersQuery.php
  package-lock.json
  package.json
  pnpm-lock.yaml
  resources/js/components/combobox-filter.tsx
  resources/js/components/data-table-column-header.tsx
  resources/js/components/data-table-pagination.tsx
  resources/js/components/data-table-view-options.tsx
  resources/js/components/features/user-management.tsx
  resources/js/components/layouts/admin-layout.tsx
  resources/js/components/layouts/app-layout.tsx
  resources/js/components/search-input.tsx
  resources/js/components/ui/badge.tsx
  resources/js/components/ui/button-group.tsx
  resources/js/components/ui/data-table.tsx
  resources/js/components/ui/empty.tsx
  resources/js/components/ui/field.tsx
  resources/js/components/ui/input-group.tsx
  resources/js/components/ui/item.tsx
  resources/js/components/ui/navigation-menu.tsx
  resources/js/components/ui/sidebar.tsx
  resources/js/components/ui/toggle-group.tsx
  resources/js/components/ui/toggle.tsx
  resources/js/pages/Dashboard.tsx
  resources/js/pages/admin/Users/Index.tsx
  resources/js/types/index.d.ts
  tests/Browser/Admin/AdminSidebarTest.php
  tests/Browser/Authentication/LoginTest.php
  tests/Feature/Admin/UsersControllerTest.php
  tests/Unit/Queries/GetUsersQueryTest.php
Due: vendor/bin/pint --parallel, prettier --write, eslint --fix

refactor: remove deprecated contexts and hooks, add new hooks
  resources/js/contexts/auth-context.tsx
  resources/js/contexts/sidebar-context.tsx
  resources/js/hooks/use-auth-user.ts
  resources/js/hooks/use-initials.ts
  resources/js/hooks/use-mobile.tsx
  resources/js/hooks/use-theme.ts
  resources/js/pages/admin/Users/components.tsx
Due: prettier --write, eslint --fix

chore: update UI components and hooks
  resources/js/components/ui/alert.tsx
  resources/js/components/ui/button.tsx
  resources/js/components/ui/calendar.tsx
  resources/js/components/ui/chart.tsx
  resources/js/hooks/use-sidebar.ts
Due: prettier --write, eslint --fix

test: add browser tests for admin users page
  tests/Browser/Admin/UsersTest.php
Due: vendor/bin/pint --parallel, prettier --write

test: update browser tests for admin users page
  tests/Browser/Admin/UsersTest.php
Due: vendor/bin/pint --parallel, prettier --write

test: add URL-based filtering tests for admin users page
  resources/js/pages/admin/Dashboard.tsx
  tests/Browser/Admin/UsersTest.php
Due: vendor/bin/pint --parallel, prettier --write, eslint --fix

ci: simplify workflows to single jobs with caching
  .github/workflows/release.yml
  .github/workflows/tests.yml
Due: none

chore: update pre-commit hook
  .husky/pre-commit
Due: none

fix: correct notification assertion in browser test and simplify CI workflows
  .github/workflows/tests.yml
  tests/Browser/Authentication/LoginTest.php
Due: vendor/bin/pint --parallel, prettier --write

ci: improve GitHub Actions workflows for better testing
  .github/workflows/release.yml
  .github/workflows/tests.yml
Due: none

fix: correct notification assertion in browser test
  tests/Browser/Admin/UsersTest.php
Due: vendor/bin/pint --parallel, prettier --write

fix: add HTTP client faking for password validation tests
  tests/Unit/Providers/AppServiceProviderTest.php
Due: vendor/bin/pint --parallel, prettier --write

refactor: remove unused Wayfinder package
  composer.json
  composer.lock
  package-lock.json
  package.json
  resources/js/pages/admin/Users/components.tsx
  tests/Browser/Authentication/LoginTest.php
  tsconfig.json
  vite.config.ts
Due: vendor/bin/pint --parallel, prettier --write, eslint --fix

docs: update requirements to clarify admin user edit functionality
  REQUIREMENTS.md
  package-lock.json
Due: prettier --write

test: configure SQLite database for testing environment
  .env.testing
Due: none

fix: correct user search filtering browser test
  tests/Browser/Admin/UsersTest.php
Due: vendor/bin/pint --parallel, prettier --write

fix: resolve React Compiler compatibility issues
  resources/js/components/ui/data-table.tsx
  resources/js/components/ui/sidebar.tsx
  resources/js/hooks/use-theme.ts
Due: prettier --write, eslint --fix

feat: add React Compiler support
  eslint.config.js
  package-lock.json
  package.json
  resources/js/app.tsx
  resources/js/pages/admin/Users/components.tsx
  vite.config.ts
Due: prettier --write, eslint --fix

ci: enhance CI/CD pipelines and pre-commit quality checks
  .github/workflows/release.yml
  .github/workflows/tests.yml
  .husky/pre-commit
Due: none

chore: update @inertiajs/react to v2.2.12
  pnpm-lock.yaml
Due: none

ci: update workflows
  .github/workflows/release.yml
  .github/workflows/tests.yml
Due: none

ci: fix typo
  .github/workflows/release.yml
  .github/workflows/tests.yml
Due: none

ci: remove vite build cache
  .github/workflows/release.yml
  .github/workflows/tests.yml
Due: none

chore: update tests workflow
  .github/workflows/tests.yml
Due: none

ci: remove duplicate build; php run error
  .github/workflows/tests.yml
Due: none

ci: remove --parallel
  .github/workflows/tests.yml
Due: none

ci: upload laravel logs as artifact
  .github/workflows/tests.yml
Due: none

ci: update public permission; upload build files
  .github/workflows/tests.yml
Due: none

fix: file names macos case insensitivity issue
  resources/js/pages/admin/dashboard.tsx
  resources/js/pages/admin/users/components.tsx
  resources/js/pages/admin/users/index.tsx
  resources/js/pages/auth/login.tsx
  resources/js/pages/dashboard.tsx
Due: prettier --write, eslint --fix

Path conditions:
  vendor/bin/pint --parallel: any of: *.php
  prettier --write: (any of: *.php) or (any of: *.{js,jsx,ts,tsx,json,css,md})
  eslint --fix: any of: *.{js,jsx,ts,tsx}
