Repository joseederangojr/timesheet: changes, and which lint-staged commands are due for each by the changed paths.
All: vendor/bin/pint --parallel, prettier --write, eslint --fix

test: add comprehensive model tests for User and Role
  CHANGELOG.md
  database/factories/RoleFactory.php
  tests/Unit/Models/RoleTest.php
  tests/Unit/Models/UserTest.php
Due: vendor/bin/pint --parallel, prettier --write

feat: implement user role system with RBAC
  _ide_helper_models.php
  app/Models/Role.php
  app/Models/User.php
  app/Queries/CheckUserHasAnyRoleQuery.php
  app/Queries/CheckUserHasRoleQuery.php
  app/Queries/CheckUserIsAdminQuery.php
  app/Queries/CheckUserIsEmployeeQuery.php
  app/Queries/FindRoleByNameQuery.php
  app/Queries/GetUserRolesQuery.php
  app/helpers.php
  database/migrations/2025_10_25_092827_create_roles_table.php
  database/migrations/2025_10_25_092842_create_user_roles_table.php
  database/seeders/DatabaseSeeder.php
  database/seeders/RoleSeeder.php
  tests/Unit/Queries/CheckUserHasAnyRoleQueryTest.php
  tests/Unit/Queries/CheckUserHasRoleQueryTest.php
  tests/Unit/Queries/CheckUserIsAdminQueryTest.php
  tests/Unit/Queries/CheckUserIsEmployeeQueryTest.php
  tests/Unit/Queries/FindRoleByNameQueryTest.php
  tests/Unit/Queries/GetUserRolesQueryTest.php
Due: vendor/bin/pint --parallel, prettier --write

feat: add semantic versioning and automated release system
  .github/workflows/release.yml
  .husky/commit-msg
  .releaserc.json
  REQUIREMENTS.md
  SEMANTIC_VERSIONING.md
  app/Console/Commands/VersionCommand.php
  commitlint.config.js
  tests/Feature/VersionCommandTest.php
  tests/Unit/VersionConfigTest.php
Due: vendor/bin/pint --parallel, prettier --write, eslint --fix

chore: update project configuration and dependencies
  CHANGELOG.md
  composer.json
  composer.lock
  config/app.php
  config/auth.php
  config/cache.php
  config/database.php
  config/filesystems.php
  config/ide-helper.php
  config/inertia.php
  config/logging.php
  config/mail.php
  config/queue.php
  config/services.php
  config/session.php
  opencode.json
  package-lock.json
  package.json
Due: vendor/bin/pint --parallel, prettier --write

refactor: clean up codebase and update test configuration
  app/Providers/AppServiceProvider.php
  app/Services/Boost/OpenCode.php
  instructions.md
  resources/js/app.tsx
  tests/Pest.php
  tests/Unit/ArchTest.php
  tests/Unit/HandleAppearanceTest.php
  tests/Unit/Middleware/HandleInertiaRequestsTest.php
  tests/Unit/Providers/AppServiceProviderTest.php
  tests/Unit/Services/OpenCodeTest.php
Due: vendor/bin/pint --parallel, prettier --write, eslint --fix

feat: add database migrations for sessions and password resets
  database/migrations/2025_10_25_113935_create_sessions_table.php
  database/migrations/2025_10_25_113950_create_password_reset_tokens_table.php
Due: vendor/bin/pint --parallel, prettier --write

refactor: make base Controller final class
  app/Http/Controllers/Controller.php
Due: vendor/bin/pint --parallel, prettier --write

feat: add authentication form request validation classes
  app/Http/Requests/Auth/MagicLinkRequest.php
  app/Http/Requests/Auth/PasswordLoginRequest.php
Due: vendor/bin/pint --parallel, prettier --write

feat: add magic link email notification
  app/Notifications/Auth/MagicLinkNotification.php
Due: vendor/bin/pint --parallel, prettier --write

feat: add authentication controllers for magic link and password login
  app/Http/Controllers/Auth/LogoutController.php
  app/Http/Controllers/Auth/MagicLinkController.php
  app/Http/Controllers/Auth/PasswordController.php
Due: vendor/bin/pint --parallel, prettier --write

feat: add authentication routes for login, logout, and magic links
  routes/web.php
Due: vendor/bin/pint --parallel, prettier --write

feat: create dual authentication login page with magic link and password options
  resources/js/pages/auth/Login.tsx
Due: prettier --write, eslint --fix

feat: add dashboard page with role-based welcome messages
  resources/js/pages/Dashboard.tsx
Due: prettier --write, eslint --fix

test: add feature tests for magic link and password authentication
  tests/Feature/Auth/MagicLinkControllerTest.php
  tests/Feature/Auth/PasswordControllerTest.php
Due: vendor/bin/pint --parallel, prettier --write

test: add comprehensive browser tests for authentication flows
  tests/Browser/LoginTest.php
Due: vendor/bin/pint --parallel, prettier --write

chore: update test configuration for SQLite memory database
  .env.testing
  tests/TestCase.php
Due: vendor/bin/pint --parallel, prettier --write

chore: update dependencies and project requirements documentation
  REQUIREMENTS.md
  pnpm-lock.yaml
Due: prettier --write

chore: update .gitignore
  .gitignore
Due: none

chore: remove _ide_helper*.php file
  _ide_helper_models.php
Due: vendor/bin/pint --parallel, prettier --write

fix: improve MagicLinkController error handling and test coverage
  app/Http/Controllers/Auth/MagicLinkController.php
  tests/Feature/Auth/MagicLinkControllerTest.php
  tests/Unit/Controllers/Auth/MagicLinkControllerTest.php
Due: vendor/bin/pint --parallel, prettier --write

fix: simplify PasswordController authentication flow
  app/Http/Controllers/Auth/PasswordController.php
  tests/Unit/Controllers/Auth/PasswordControllerTest.php
Due: vendor/bin/pint --parallel, prettier --write

feat: improve VersionCommand error handling and test coverage
  app/Console/Commands/VersionCommand.php
  tests/Unit/Console/Commands/VersionCommandTest.php
Due: vendor/bin/pint --parallel, prettier --write

test: add unit test for MagicLinkNotification
  tests/Unit/Notifications/Auth/MagicLinkNotificationTest.php
Due: vendor/bin/pint --parallel, prettier --write

refactor: improve VersionCommand error handling and use File facade
  app/Console/Commands/VersionCommand.php
Due: vendor/bin/pint --parallel, prettier --write

test: add comprehensive VersionCommand test coverage
  tests/Feature/VersionCommandTest.php
  tests/Unit/Console/Commands/VersionCommandTest.php
  tests/Unit/VersionConfigTest.php
Due: vendor/bin/pint --parallel, prettier --write

feat: configure project for Timesheet SaaS application
  .gitignore
  README.md
  composer.json
  config/app.php
Due: vendor/bin/pint --parallel, prettier --write

refactor: improve code quality and formatting across application
  app/Http/Controllers/Auth/LogoutController.php
  app/Http/Requests/Auth/MagicLinkRequest.php
  app/Http/Requests/Auth/PasswordLoginRequest.php
  app/Notifications/Auth/MagicLinkNotification.php
  database/factories/UserFactory.php
  database/migrations/2025_10_25_113935_create_sessions_table.php
  database/migrations/2025_10_25_113950_create_password_reset_tokens_table.php
  routes/web.php
Due: vendor/bin/pint --parallel, prettier --write

test: improve test coverage and consistency
  tests/Browser/LoginTest.php
  tests/Feature/Auth/LogoutControllerTest.php
  tests/Feature/Auth/PasswordControllerTest.php
  tests/Feature/DashboardTest.php
  tests/Feature/HomeTest.php
  tests/Unit/Controllers/Auth/PasswordControllerTest.php
  tests/Unit/HandleAppearanceTest.php
  tests/Unit/Requests/Auth/MagicLinkRequestTest.php
  tests/Unit/Requests/Auth/PasswordLoginRequestTest.php
Due: vendor/bin/pint --parallel, prettier --write

chore: remove unused app/helpers.php file
  app/helpers.php
Due: vendor/bin/pint --parallel, prettier --write

ci: update test workflow
  .github/workflows/tests.yml
Due: none

chore: update .env.testing file
  .env.testing
Due: none

ci: fix tests workflow
  .github/workflows/tests.yml
Due: none

ci: fix typo in test workflow
  .github/workflows/release.yml
  .github/workflows/tests.yml
  .husky/pre-commit
  app/Console/Commands/VersionCommand.php
  app/Http/Controllers/Auth/MagicLinkController.php
  app/Http/Controllers/Auth/PasswordController.php
  app/Http/Requests/Auth/MagicLinkRequest.php
  app/Providers/AppServiceProvider.php
  config/app.php
  config/cache.php
  config/database.php
  config/filesystems.php
  config/ide-helper.php
  config/logging.php
  config/session.php
  database/migrations/2025_10_25_092827_create_roles_table.php
  database/migrations/2025_10_25_092842_create_user_roles_table.php
  database/migrations/2025_10_25_113935_create_sessions_table.php
  database/migrations/2025_10_25_113950_create_password_reset_tokens_table.php
  package-lock.json
  routes/web.php
  tests/Feature/Auth/MagicLinkControllerTest.php
  tests/Feature/DashboardTest.php
  tests/Feature/HomeTest.php
  tests/Feature/VersionCommandTest.php
  tests/Pest.php
  tests/Unit/Controllers/Auth/MagicLinkControllerTest.php
  tests/Unit/HandleAppearanceTest.php
  tests/Unit/Middleware/HandleInertiaRequestsTest.php
Due: vendor/bin/pint --parallel, prettier --write

ci: fix typo in test workflow
  .releaserc.json
Due: prettier --write

ci: fix typo in test workflow
  .github/workflows/release.yml
Due: none

chore: update git hook
  .husky/pre-commit
Due: none

feat: implement comprehensive authentication system refactoring
  .ai/guidelines/controllers.blade.php
  .ai/guidelines/shadcn.ui.blade.php
  AGENTS.md
  app/Http/Controllers/Auth/LogoutController.php
  app/Http/Controllers/Auth/MagicLinkController.php
  app/Http/Controllers/Auth/PasswordController.php
  app/Queries/GetUserGreetingQuery.php
  opencode.json
  resources/js/pages/Dashboard.tsx
  resources/js/pages/admin/Dashboard.tsx
  resources/js/pages/auth/Login.tsx
  routes/web.php
  tests/Feature/AdminDashboardTest.php
  tests/Feature/Auth/LogoutControllerTest.php
  tests/Feature/Auth/MagicLinkControllerTest.php
  tests/Feature/Auth/PasswordControllerTest.php
  tests/Unit/Controllers/Auth/MagicLinkControllerTest.php
  tests/Unit/Queries/GetUserGreetingQueryTest.php
Due: vendor/bin/pint --parallel, prettier --write, eslint --fix

refactor: reorganize test files to match application structure
  tests/Unit/Actions/FindUserByEmailActionTest.php
  tests/Unit/Http/Controllers/Auth/MagicLinkControllerTest.php
Due: vendor/bin/pint --parallel, prettier --write

refactor: extract user lookup logic to FindUserByEmail action
  .ai/guidelines/app.actions.blade.php
  AGENTS.md
  app/Actions/FindUserByEmail.php
  app/Http/Controllers/Auth/MagicLinkController.php
  tests/Unit/Controllers/Auth/MagicLinkControllerTest.php
  tests/Unit/FindUserByEmailActionTest.php
Due: vendor/bin/pint --parallel, prettier --write

fix: add missing type hints in GetUsersQuery closure parameters
  .ai/guidelines/shadcn.ui.blade.php
  AGENTS.md
  REQUIREMENTS.md
  app/Actions/FindUserByEmail.php
  app/Http/Middleware/HandleAppearance.php
  app/Http/Middleware/HandleInertiaRequests.php
  app/Queries/GetUsersQuery.php
  bootstrap/app.php
  composer.json
  package.json
  resources/js/app.tsx
  resources/js/hooks/use-appearance.tsx
  resources/js/pages/admin/Dashboard.tsx
  resources/views/app.blade.php
  routes/web.php
  tests/Feature/AdminDashboardTest.php
  tests/Feature/Auth/LogoutControllerTest.php
  tests/Unit/Actions/FindUserByEmailActionTest.php
  tests/Unit/HandleAppearanceTest.php
  tests/Unit/Middleware/HandleInertiaRequestsTest.php
  tests/Unit/Queries/GetUserGreetingQueryTest.php
Due: vendor/bin/pint --parallel, prettier --write, eslint --fix

Path conditions:
  vendor/bin/pint --parallel: any of: *.php
  prettier --write: (any of: *.php) or (any of: *.{js,jsx,ts,tsx,json,css,md})
  eslint --fix: any of: *.{js,jsx,ts,tsx}
