Repository joseederangojr/timesheet: changes, and which lint-staged commands are due for each by the changed paths.
All: vendor/bin/pint --parallel, prettier --write, eslint --fix

.lintstagedrc.json:

{
    "*.php": ["vendor/bin/pint --parallel", "prettier --write"],
    "*.{js,jsx,ts,tsx,json,css,md}": ["prettier --write"],
    "*.{js,jsx,ts,tsx}": ["eslint --fix"]
}

feat: add complete employment management system
  app/Actions/CreateEmployment.php
  app/Actions/EndEmployment.php
  app/Data/CreateEmploymentData.php
  app/Data/EmploymentFilters.php
  app/Data/UpdateEmploymentData.php
  app/Enums/EmploymentStatus.php
  app/Http/Requests/Admin/CreateEmploymentRequest.php
  app/Http/Requests/Admin/EmploymentCreateRequest.php
  app/Http/Requests/Admin/EmploymentEditRequest.php
  app/Http/Requests/Admin/EmploymentIndexRequest.php
  app/Http/Requests/Admin/EmploymentShowRequest.php
  app/Http/Requests/Admin/UpdateEmploymentRequest.php
  app/Models/Employment.php
  app/Policies/EmploymentPolicy.php
  app/Queries/Filters/ClientFilter.php
  app/Queries/FindClientByIdQuery.php
  app/Queries/FindUserByIdQuery.php
  app/Queries/GetAllUsersQuery.php
  app/Queries/GetEmploymentByIdQuery.php
  app/Queries/GetEmploymentsQuery.php
  database/migrations/2025_11_04_154221_create_employment_table.php
  resources/js/pages/admin/employments/components.tsx
  resources/js/pages/admin/employments/create.tsx
  resources/js/pages/admin/employments/edit.tsx
  resources/js/pages/admin/employments/index.tsx
  resources/js/pages/admin/employments/show.tsx
  tests/Browser/Admin/EmploymentsTest.php
  tests/Feature/Admin/EmploymentsControllerTest.php
  tests/Unit/Data/EmploymentFiltersTest.php
  tests/Unit/EmploymentTest.php
  tests/Unit/Enums/EmploymentStatusTest.php
  tests/Unit/Policies/EmploymentPolicyTest.php
  tests/Unit/Queries/GetAllUsersQueryTest.php
Due: vendor/bin/pint --parallel, prettier --write, eslint --fix

feat: add admin user seeder with environment variables
  .env.example
  database/seeders/AdminSeeder.php
Due: vendor/bin/pint --parallel, prettier --write

refactor: remove direct model usage from controllers
  app/Http/Controllers/Admin/EmploymentsController.php
Due: vendor/bin/pint --parallel, prettier --write

fix: resolve CSRF token issues in EmploymentsControllerTest
  tests/Feature/Admin/EmploymentsControllerTest.php
Due: vendor/bin/pint --parallel, prettier --write

fix: remove redundant useEffect causing React linting error
  app/Actions/CreateEmployment.php
  app/Actions/EndEmployment.php
  app/Actions/UpdateEmployment.php
  app/Http/Controllers/Admin/EmploymentsController.php
  app/Http/Controllers/Admin/UsersController.php
  app/Http/Requests/Admin/EmploymentCreateRequest.php
  app/Http/Requests/Admin/EmploymentEditRequest.php
  app/Http/Requests/Admin/EmploymentIndexRequest.php
  app/Http/Requests/Admin/UpdateEmploymentRequest.php
  app/Models/User.php
  config/app.php
  database/seeders/AdminSeeder.php
  database/seeders/DatabaseSeeder.php
  package-lock.json
  package.json
  resources/js/components/layouts/admin-layout.tsx
  resources/js/pages/admin/employments/components.tsx
  resources/js/pages/admin/users/components.tsx
  resources/js/pages/admin/users/show.tsx
  routes/web.php
  tests/Browser/Admin/EmploymentsTest.php
  tests/Browser/Screenshots/_Admin_Employments_Management__→_it_can_delete_employment_record.png
  tests/Browser/Screenshots/_Admin_Employments_Management__→_it_can_filter_employments_by_client.png
  tests/Browser/Screenshots/_Admin_Employments_Management__→_it_can_navigate_to_employment_from_user_profile.png
  tests/Browser/Screenshots/_Admin_Employments_Management__→_it_can_search_employments_by_position.png
  tests/Feature/Admin/EmploymentsControllerTest.php
  tests/Unit/Actions/CreateEmploymentTest.php
  tests/Unit/Actions/DeleteEmploymentTest.php
  tests/Unit/Actions/UpdateEmploymentTest.php
  tests/Unit/Enums/EmploymentStatusTest.php
  tests/Unit/Policies/EmploymentPolicyTest.php
Due: vendor/bin/pint --parallel, prettier --write, eslint --fix

chore: remove Screenshots
  tests/Browser/Screenshots/_Admin_Employments_Management__→_it_can_delete_employment_record.png
  tests/Browser/Screenshots/_Admin_Employments_Management__→_it_can_filter_employments_by_client.png
  tests/Browser/Screenshots/_Admin_Employments_Management__→_it_can_navigate_to_employment_from_user_profile.png
  tests/Browser/Screenshots/_Admin_Employments_Management__→_it_can_search_employments_by_position.png
Due: none
