Repository joseederangojr/timesheet: changes, and which lint-staged commands are due for each by the changed paths.
All: vendor/bin/pint --parallel, prettier --write, eslint --fix

ci: update release workflow
  .github/workflows/release.yml
  .github/workflows/tests.yml
Due: none

ci: add release daily
  .github/workflows/release.yml
Due: none

ci: add write permission
  .github/workflows/release.yml
Due: none

refactor: Move UserFilters from DTOs to Data namespace
  app/Data/UserFilters.php
Due: vendor/bin/pint --parallel, prettier --write

feat: Add user creation backend functionality
  app/Actions/CreateUser.php
  app/Data/CreateUserData.php
  app/Http/Controllers/Admin/UsersController.php
  app/Http/Requests/Admin/CreateUserRequest.php
  app/Queries/GetAllRolesQuery.php
  app/Queries/GetRolesByNamesQuery.php
  routes/web.php
Due: vendor/bin/pint --parallel, prettier --write

feat: add React Compiler support
  eslint.config.js
  package.json
  vite.config.ts
Due: prettier --write, eslint --fix

chore: update @inertiajs/react to v2.2.12
  package-lock.json
Due: prettier --write

fix: resolve React Compiler compatibility issues
  resources/js/components/ui/data-table.tsx
Due: prettier --write, eslint --fix

refactor: Enhance user management with advanced data table
  app/Queries/GetUsersQuery.php
  resources/js/pages/admin/users/components.tsx
Due: vendor/bin/pint --parallel, prettier --write, eslint --fix

test: Add and update tests for user creation
  tests/Browser/Admin/AdminSidebarTest.php
  tests/Browser/Admin/CreateUserTest.php
  tests/Browser/Admin/UsersTest.php
  tests/Feature/Admin/UsersControllerTest.php
  tests/Pest.php
  tests/TestCase.php
  tests/Unit/Actions/CreateUserTest.php
  tests/Unit/Queries/GetUsersQueryTest.php
Due: vendor/bin/pint --parallel, prettier --write

feat: Add user creation frontend
  resources/js/components/admin/UserForm.tsx
  resources/js/pages/admin/users/create.tsx
Due: prettier --write, eslint --fix

chore: Update dependencies and configurations
  composer.json
  composer.lock
Due: prettier --write

feat: Add user creation backend functionality
  app/Http/Controllers/Admin/UsersController.php
Due: vendor/bin/pint --parallel, prettier --write

fix: Remove invalid JavaScript directives from data table components
  resources/js/components/data-table-column-header.tsx
  resources/js/components/data-table-pagination.tsx
  resources/js/components/data-table-view-options.tsx
Due: prettier --write, eslint --fix

feat: Add user creation frontend
  resources/js/pages/admin/users/create.tsx
Due: prettier --write, eslint --fix

test: Add and update tests for user creation
  tests/Browser/Admin/AdminSidebarTest.php
  tests/Browser/Admin/CreateUserTest.php
  tests/Feature/Admin/UsersControllerTest.php
Due: vendor/bin/pint --parallel, prettier --write

feat: Add flash status message component to admin dashboard
  resources/js/pages/admin/dashboard.tsx
Due: prettier --write, eslint --fix

feat: Update admin users functionality with flash message support
  resources/js/pages/admin/users/index.tsx
Due: prettier --write, eslint --fix

feat: Implement standardized flash message system
  app/Http/Controllers/Auth/MagicLinkController.php
  app/Http/Controllers/Auth/PasswordController.php
  app/Http/Middleware/HandleInertiaRequests.php
  resources/js/components/ui/flash-status-message.tsx
  resources/js/pages/auth/login.tsx
  resources/js/pages/dashboard.tsx
  tests/Browser/Authentication/LoginTest.php
  tests/Feature/Authentication/MagicLinkTest.php
  tests/Feature/Authentication/PasswordLoginTest.php
  tests/Unit/Middleware/HandleInertiaRequestsTest.php
Due: vendor/bin/pint --parallel, prettier --write, eslint --fix

feat: add deploy workflow
  .github/workflows/deploy.yml
  .github/workflows/release.yml
  DEPLOYMENT.md
  app/Http/Controllers/Admin/UsersController.php
  app/Http/Controllers/Auth/MagicLinkController.php
  app/Http/Controllers/Auth/PasswordController.php
  app/Queries/GetUsersQuery.php
  composer.json
  composer.lock
  deploy.sh
  package-lock.json
  package.json
  pnpm-lock.yaml
  resources/js/components/data-table-column-header.tsx
  resources/js/components/data-table-pagination.tsx
  resources/js/components/data-table-view-options.tsx
  resources/js/components/ui/data-table.tsx
  resources/js/pages/admin/users/create.tsx
  start-ssr.js
  start-ssr.mjs
  tests/Browser/Authentication/LoginTest.php
  tests/Feature/Admin/UsersControllerTest.php
Due: vendor/bin/pint --parallel, prettier --write, eslint --fix

chore: update deploy workflow
  .github/workflows/deploy.yml
Due: none

chore: move away from deploy.sh
  .github/workflows/deploy.yml
  .husky/pre-push
  deploy.sh
Due: none

chore: move away from deploy.sh
  app/Http/Middleware/HandleInertiaRequests.php
  eslint.config.js
  resources/js/components/ui/data-table.tsx
Due: vendor/bin/pint --parallel, prettier --write, eslint --fix

chore: update git hooks
  .husky/commit-msg
  .husky/pre-push
Due: none

chore: envvars typo
  .github/workflows/deploy.yml
Due: none

chore: remove tag input
  .github/workflows/deploy.yml
Due: none

chore: add environments
  .github/workflows/deploy.yml
Due: none

ci: update deploy workflow
  .github/workflows/deploy.yml
Due: none

ci: select git ref deployment workflow
  .github/workflows/deploy.yml
Due: none

ci: remove `set -e`
  .github/workflows/deploy.yml
Due: none

ci: hardcoded
  .github/workflows/deploy.yml
Due: none

chore: source nodejs
  .github/workflows/deploy.yml
Due: none

chore: prefer install from cache
  .github/workflows/deploy.yml
Due: none

ci: npm wrong option
  .github/workflows/deploy.yml
Due: none

chore: use secrets instead of vars
  .github/workflows/deploy.yml
Due: none

ci: update .env file
  .github/workflows/deploy.yml
Due: none

chore: fix .env
  .github/workflows/deploy.yml
Due: none

chore: fix storage folder
  .github/workflows/deploy.yml
Due: none

feat: workaround for server
  index.php
Due: vendor/bin/pint --parallel, prettier --write

Path conditions:
  vendor/bin/pint --parallel: any of: *.php
  prettier --write: (any of: *.php) or (any of: *.{js,jsx,ts,tsx,json,css,md})
  eslint --fix: any of: *.{js,jsx,ts,tsx}
