Repository joseederangojr/timesheet: changes, and which lint-staged commands are due for each by the changed paths.
All: vendor/bin/pint --parallel, prettier --write, eslint --fix

.lintstagedrc.json:

{
    "*.php": ["vendor/bin/pint --parallel", "prettier --write"],
    "*.{js,jsx,ts,tsx,json,css,md}": ["prettier --write"],
    "*.{js,jsx,ts,tsx}": ["eslint --fix"]
}

chore: add nohup
  .github/workflows/deploy.yml
Due: none

chore: link public
  .github/workflows/deploy.yml
  index.php
Due: vendor/bin/pint --parallel, prettier --write

chore: fix composer install
  .github/workflows/deploy.yml
Due: none

chore: rename UserForm
  resources/js/components/admin/user-form.tsx
  resources/js/pages/admin/users/components.tsx
  resources/js/pages/admin/users/create.tsx
Due: prettier --write, eslint --fix

chore: add ASSET_URL
  .github/workflows/deploy.yml
Due: none

chore: use bun
  .github/workflows/deploy.yml
  bun.lock
Due: none

feat: add user update functionality
  app/Actions/UpdateUser.php
  app/Data/UpdateUserData.php
  app/Http/Requests/Admin/UpdateUserRequest.php
Due: vendor/bin/pint --parallel, prettier --write

feat: add user editing routes and controller methods
  app/Http/Controllers/Admin/UsersController.php
  routes/web.php
Due: vendor/bin/pint --parallel, prettier --write

refactor: optimize browser test timing
  tests/Browser/Admin/AdminSidebarTest.php
  tests/Browser/Admin/CreateUserTest.php
  tests/Browser/Admin/UsersTest.php
Due: vendor/bin/pint --parallel, prettier --write

fix: resolve PHPStan return type error in UpdateUser action
  app/Actions/UpdateUser.php
  resources/js/pages/admin/users/components.tsx
  resources/js/pages/admin/users/create.tsx
Due: vendor/bin/pint --parallel, prettier --write, eslint --fix

feat: implement page-based user editing
  resources/js/components/admin/user-form.tsx
  resources/js/components/ui/data-table.tsx
  resources/js/pages/admin/users/components.tsx
  resources/js/pages/admin/users/edit.tsx
  tests/Browser/Admin/UsersTest.php
Due: vendor/bin/pint --parallel, prettier --write, eslint --fix

feat: achieve 100% code coverage for UsersController
  tests/Feature/Admin/UsersControllerTest.php
Due: vendor/bin/pint --parallel, prettier --write

feat: add authorization checks to admin user controller methods
  app/Http/Controllers/Admin/UsersController.php
Due: vendor/bin/pint --parallel, prettier --write

style: format browser test assertions for better readability
  tests/Browser/Admin/UsersTest.php
Due: vendor/bin/pint --parallel, prettier --write

feat: create user details page component
  resources/js/pages/admin/users/show.tsx
Due: prettier --write, eslint --fix

refactor: update dependencies and code formatting
  app/Http/Controllers/Admin/UsersController.php
  package.json
Due: vendor/bin/pint --parallel, prettier --write

feat: add user editing dialog to admin interface
  resources/js/pages/admin/users/components.tsx
Due: prettier --write, eslint --fix

refactor: use reusable query filters in GetUsersQuery
  app/Queries/GetUsersQuery.php
Due: vendor/bin/pint --parallel, prettier --write

feat: create user details page component
  package-lock.json
Due: prettier --write

ci: add vercel deployment
  .github/workflows/tests.yml
  .gitignore
  api/index.php
  bun.lock
  tests/Feature/Admin/UsersControllerTest.php
  vercel.json
Due: vendor/bin/pint --parallel, prettier --write

feat: add reusable query filter components
  app/Queries/Filters/PaginationFilter.php
  app/Queries/Filters/RoleFilter.php
  app/Queries/Filters/SearchFilter.php
  app/Queries/Filters/SortFilter.php
  app/Queries/Filters/VerificationFilter.php
Due: vendor/bin/pint --parallel, prettier --write

test: add unit tests for role, verification, and sort filters
  tests/Unit/Queries/GetUsersQueryTest.php
Due: vendor/bin/pint --parallel, prettier --write

fix: resolve PHPStan generics issues with proper templates
  app/Queries/Filters/PaginationFilter.php
  app/Queries/Filters/RoleFilter.php
  app/Queries/Filters/SearchFilter.php
  app/Queries/Filters/SortFilter.php
  app/Queries/Filters/VerificationFilter.php
  app/Queries/GetUsersQuery.php
Due: vendor/bin/pint --parallel, prettier --write

fix: resolve PHPStan type issues and update tests
  app/Http/Controllers/Admin/UsersController.php
  app/Notifications/Auth/WelcomeNotification.php
  app/Policies/UserPolicy.php
  tests/Feature/Admin/UsersControllerTest.php
Due: vendor/bin/pint --parallel, prettier --write

fix: resolve remaining PHPStan errors and update tests
  app/Data/UserFilters.php
  app/Http/Controllers/Admin/UsersController.php
  app/Notifications/Auth/WelcomeNotification.php
  tests/Browser/Admin/CreateUserTest.php
Due: vendor/bin/pint --parallel, prettier --write

refactor(auth): move authorization logic to request classes
  app/Http/Controllers/Admin/ClientsController.php
  app/Http/Controllers/Admin/UsersController.php
  app/Http/Requests/Admin/ClientCreateRequest.php
  app/Http/Requests/Admin/ClientEditRequest.php
  app/Http/Requests/Admin/ClientIndexRequest.php
  app/Http/Requests/Admin/ClientShowRequest.php
  app/Http/Requests/Admin/UserCreateRequest.php
  app/Http/Requests/Admin/UserEditRequest.php
  app/Http/Requests/Admin/UserIndexRequest.php
  app/Http/Requests/Admin/UserShowRequest.php
  resources/js/components/admin/client-form.tsx
  resources/js/components/admin/user-form.tsx
  resources/js/hooks/use-form-defaults.ts
Due: vendor/bin/pint --parallel, prettier --write, eslint --fix

feat: enhance testing infrastructure and code quality
  .husky/pre-push
  app/Policies/UserPolicy.php
  composer.json
  phpunit.xml
  rector.php
  tests/Unit/Data/UserFiltersTest.php
  tests/Unit/Notifications/Auth/WelcomeNotificationTest.php
  tests/Unit/Queries/GetUsersQueryTest.php
Due: vendor/bin/pint --parallel, prettier --write

chore: fix phpunit config
  phpunit.xml
Due: none

feat: add Client model with database migration and factory
  app/Providers/AppServiceProvider.php
  resources/js/components/admin/client-form.tsx
Due: vendor/bin/pint --parallel, prettier --write, eslint --fix

feat: implement auto-generated passwords and welcome emails for user creation
  .husky/pre-push
  app/Data/ClientFilters.php
  app/Data/UserFilters.php
  app/Policies/UserPolicy.php
  resources/js/components/admin/user-form.tsx
Due: vendor/bin/pint --parallel, prettier --write, eslint --fix

test: add comprehensive unit tests for policies and queries
  app/Data/ClientFilters.php
  app/Data/UserFilters.php
  app/Policies/ClientPolicy.php
  app/Policies/UserPolicy.php
  app/Providers/AppServiceProvider.php
  app/Queries/CheckUserHasRoleQueryInterface.php
  app/Queries/CheckUserIsAdminQuery.php
  app/Queries/CheckUserIsAdminQueryInterface.php
  app/Queries/Filters/SortFilter.php
  package-lock.json
  package.json
  resources/js/components/admin/client-form.tsx
  resources/js/components/admin/user-form.tsx
  tests/TestDoubles/TestCheckUserIsAdminQuery.php
  tests/Unit/Data/UserFiltersTest.php
  tests/Unit/Policies/ClientPolicyTest.php
  tests/Unit/Policies/UserPolicyTest.php
  tests/Unit/Queries/GetAllClientsQueryTest.php
Due: vendor/bin/pint --parallel, prettier --write, eslint --fix

refactor: remove test doubles and use proper mocking
  tests/TestDoubles/TestCheckUserIsAdminQuery.php
  tests/Unit/Policies/ClientPolicyTest.php
  tests/Unit/Policies/UserPolicyTest.php
Due: vendor/bin/pint --parallel, prettier --write

refactor: remove unnecessary interfaces and simplify testing
  app/Policies/ClientPolicy.php
  app/Policies/UserPolicy.php
  app/Queries/CheckUserHasRoleQueryInterface.php
  app/Queries/CheckUserIsAdminQuery.php
  app/Queries/CheckUserIsAdminQueryInterface.php
  tests/Unit/Policies/ClientPolicyTest.php
  tests/Unit/Policies/UserPolicyTest.php
  tests/Unit/Queries/GetAllClientsQueryTest.php
Due: vendor/bin/pint --parallel, prettier --write

ci: add migration workflow
  .github/workflows/migration.yml
Due: none

ci: use secrets directly
  .github/workflows/migration.yml
Due: none

chore: disable sorting for verified
  resources/js/pages/admin/users/components.tsx
Due: prettier --write, eslint --fix

feat: enhance admin tables with modern button group actions
  resources/js/pages/admin/clients/components.tsx
  resources/js/pages/admin/users/components.tsx
Due: prettier --write, eslint --fix

fix: resolve PHPStan static analysis errors
  app/Actions/DeleteEmployment.php
  app/Actions/UpdateEmployment.php
  app/Http/Controllers/Admin/EmploymentsController.php
  database/factories/EmploymentFactory.php
Due: vendor/bin/pint --parallel, prettier --write

test: add comprehensive tests for employment actions
  tests/Unit/Actions/CreateEmploymentTest.php
  tests/Unit/Actions/DeleteEmploymentTest.php
  tests/Unit/Actions/UpdateEmploymentTest.php
Due: vendor/bin/pint --parallel, prettier --write
